{% extends "layout.html" %}
{% block title %}Tarif Ekle{% endblock %}
{% block content %}
<div class="container">
    <form method="POST" action="/myaccount">
        <input class="input" name="name" type="text" placeholder="Enter Name"  required>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>
            <select name="recipes" id="recipes" required>
              <option value="">None</option>
              {% for category in categories %}
              <option value="{{category}}" >{{category}} </option>
              {% endfor %}
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Seç...</option>
              {% for ingredient in ingredients %}
              <option value="{{ingredient}}" >{{ingredient}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>
            <select name="select1" class="custom-select" id="inputGroupSelect01">
              <option selected>Seç...</option>
              {% for ingredient in ingredients %}
              <option value="{{ingredient}}" >{{ingredient}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Seç...</option>
              {% for ingredient in ingredients %}
              <option value="{{ingredient}}">{{ingredient}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Seç...</option>
              {% for ingredient in ingredients %}
              <option value="{{ingredient}}">{{ingredient}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Options</label>
            </div>
            <select class="custom-select" id="inputGroupSelect01">
              <option selected>Seç...</option>
              {% for ingredient in ingredients %}
              <option value="{{ingredient}}">{{ingredient}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="form-group">
            <label for="comment">Hazırlanışı:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>

        <input type="submit" value="Ekle"><br>
    </form>
</div>
{% endblock %}