{% extends "layout.html" %}
{% block title %}Add Recipe{% endblock %}
{% block content %}
<div align="center"> <h1>Our site will be opened in the near future.</h1></div>
  <form role="form" action="" method=post class="form-horizontal">
    <h2 div class = "col-sm-10">Please enter the informations about your product.</h2>

     <div class="form-group">
         <p div class = "col-sm-10">Name of Clothe:</p>
        <div class="col-sm-10">
          <input type="text" id="name" name="name" class="input-xlarge"
            placeholder="i.e Kawaii Rabbit Socks" value="{{ request.form.name }}"
            required>
        </div>
    </div>
     <div class="form-group">
         <p div class = "col-sm-10">Give the link of photo of your clothe:</p>
        <div class="col-sm-10">
          <input type="text" id="pic" name="pic" class="input-xlarge"
            placeholder="link here" value="{{ request.form.pic }}"
            required>
        </div>
    </div>

    <div class="form-group">
        <p div class = "col-sm-10">Enter the type of your clothe:</p>
        <div class="col-sm-10">
          <input type="text" id="type" name="type" class="input-xlarge"
            placeholder="i.e Socks" value="{{ request.form.type }}"
            required>
        </div>
    </div>

    <div class="form-group">
        <p div class = "col-sm-10">Enter the size of your clothe (If there is not, just enter ' - '):</p>
        <div class="col-sm-10">
          <input type="text" id="size" name="size" class="input-xlarge"
            placeholder="i.e S, M, L or 37, 38, 39" value="{{ request.form.size }}"
            required>
        </div>
    </div>

      <div class="form-group">
         <p div class = "col-sm-10">Enter the material of your clothe:</p>
        <div class="col-sm-10">
          <input type="text" id="material" name="material" class="input-xlarge"
            placeholder="i.e wool, cotton, silk" value="{{ request.form.material }}"
            required>
        </div>
    </div>

      <div class="form-group">
          <p div class = "col-sm-10">Enter a price for your clothe (in dollars):</p>
        <div class="col-sm-10">
          {{ '$' }}<input type="number" id="price" name="price" class="input-xlarge"
            placeholder="i.e 10" value="{{ request.form.price }}"
            required>
        </div>
    </div>

      <div class="form-group">
          <p div class = "col-sm-10">Enter a description if it is needed:</p>
        <div class="col-sm-10">
          <input type="text" id="description" name="description" class="input-xlarge"
            placeholder=" " value="{{ request.form.description }}"
            required>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-success">Add Product</button>
        </div>
    </div>
  </form>
{% endblock %}