{% extends "layout.html" %}
{% block title %}Profil{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
    <table class="table" style="width:100%">
        <h1>Kullanıcı Bilgileri</h1>
        <thead>
            <th>Kullanıcı Adı</th>
            <th>İsim</th>
            <th>Soyisim</th>
            <th>E-Posta</th>
        </thead>
        <tr>
            <td>{{ username }}</td>
            <td>{{ name }}</td>
            <td>{{ surname }}</td>
            <td>{{ email }}</td>
            <td><a href="/update-profile" class="button">Update Your Profile</a></td>
            <td><a href="/password" class="button">Change Your Password</a></td>
        </tr>
    </table>
</div>
<!-- <div class="container" style="padding-top: 20px;">

</div> -->
<div class="container">
<table class="table" style="width:100%">
    <h2>Eklenen Tarifler</h2>
        <thead>
            <th>Tarifin Adı</th>
            <th>İçindekiler</th>
            <th>Yapılışı</th>
        </thead>
    <tbody>
        {% for recipe in result   %}
        <tr>
            <td><a href="{{ url_for('recipe_detail_page',id = recipe.id)}}">{{ recipe.name }}</a></td>
            <td>{{ recipe.ingredients }}</td>
            <td>{{ recipe.instructions }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

{% endif %}

{% endblock %}